[color]
    diff = auto
    status = auto
    branch = auto
    grep = auto
[core]
    excludesfile = /Users/jsocol/.gitignore
[alias]
    a = add
    ci = commit
    co = checkout
    br = branch
    st = status
    u = checkout --
    gr = grep --color -p -n --full-name
    cp = cherry-pick
    cdiff = log -p -1 --stat
    cpp = !sh -c "git log -p -1 $1 "
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
    p = log -1 -p
[user]
    name = James Socol
	email = James_Socol@condenast.com
[github]
    username = jsocol
[push]
	default = upstream
[pull]
	rebase = true
